{
  "extends": [
    "taro/vue3", // 项目初始化时选择的框架类型
    "eslint:recommended", // 新增 eslint 推荐校验
    "plugin:@typescript-eslint/recommended", // 新增 typescript 推荐校验
    "prettier", // 新增 prettier 校验。比如引号，分号等配置
  ],
  "plugins": ["prettier"], // 使用 eslint-plugin-prettier 解决 eslint 和 prettier 的规则冲突
  "rules": {
    "prettier/prettier": "error", // 开启 prettier 规则校验
  },
  // 校验 .vue 文件
  "overrides": [
    {
      "files": ["*.vue"],
      "parser": "vue-eslint-parser",
      "parserOptions": {
        "extraFileExtensions": [".vue"],
        "parser": "@typescript-eslint/parser", // 支持 lang="ts"
      },
    },
  ],
  // 兼容 taro 的编译环境
  "env": {
    "node": true,
  },
}
